* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartain', sans-serif;
}

.section-p1 {
    padding: 40px 80px;
}
#product {
    text-align: center;
}

#product .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    
}
/* #pro-container{
    padding: 12px;
} */
#product .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
}

#product .pro:hover {
    box-shadow: 20px 20px 30px black;
    
}


#product .pro img {
    width: 100%;
    border-radius: 20px;
}

#product .pro .description {
    text-align: start;
    padding: 10px 0;
}

#product .pro .description span {
    color: #088178;
    font-size: 12px;
}

#product .pro .description h5 {
    padding: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product .pro .description h4 {
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #ab772d;
}
#product .pro .description h4 del{
    color: #000;
}

